# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
venv/
dist/
*.k*
*.k*
*/k/*
*.egg-info

# Unit test / coverage reports
htmlcov/
coverage-reports/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
