absl-py==1.4.0
anytree==2.9.0
astroid==2.15.6
astunparse==1.6.3
attrs==23.1.0
autoflake==2.2.0
autopep8==2.0.2
black==23.3.0
build==0.10.0
cachetools==5.3.1
certifi==2023.5.7
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.4
cmake==3.26.4
colorama==0.4.6
coverage==7.2.7
dill==0.3.6
distlib==0.3.6
exceptiongroup==1.1.2
filelock==3.12.2
flake8==6.0.0
flatbuffers==23.5.26
fsspec==2023.6.0
gast==0.4.0
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.0
h5py==3.9.0
huggingface-hub==0.16.4
identify==2.5.24
idna==3.4
iniconfig==2.0.0
isort==5.12.0
Jinja2==3.1.2
johnnydep==1.20.2
jsonlines==3.1.0
keras==2.13.1
lazy-object-proxy==1.9.0
libclang==16.0.0
lit==16.0.6
Markdown==3.4.3
MarkupSafe==2.1.3
mccabe==0.7.0
mpmath==1.3.0
mypy==1.4.1
mypy-extensions==1.0.0
networkx==3.1
nodeenv==1.8.0
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
opt-einsum==3.3.0
oyaml==1.0
packaging==23.1
pathspec==0.11.1
pip-tools==6.14.0
platformdirs==3.8.1
pluggy==1.2.0
pre-commit==3.3.3
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pyflakes==3.0.1
pylint==2.17.4
pyproject-api==1.5.3
pyproject_hooks==1.0.0
pytest==7.4.0
pytest-cov==4.1.0
pyupgrade==3.9.0
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.3.1
six==1.16.0
structlog==23.1.0
sympy==1.12
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
tokenize-rt==5.1.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
torch==2.0.1
tox==4.6.4
tqdm==4.65.0
transformers==4.30.2
triton==2.0.0
types-requests==2.31.0.1
types-urllib3==1.26.25.13
typing_extensions==4.5.0
urllib3==1.26.16
virtualenv==20.23.1
Werkzeug==2.3.6
wimpy==0.6
wrapt==1.15.0
